<p id="notice"><%= notice %></p>

<h1>All the Blogs</h1>
<h2>Start Blog here</h2>

<table>
  <thead>
    <tr>
      <th>Blog Title</th>
      <th>Blog Body</th>
      <th colspan="3"></th>
    </tr>
  </thead>
  <p>make blogs</p>

  <tbody>
    <% @blogs.each do |blog| %>
      <tr>
        <td><%= blog.title %></td>
        <td><%= blog.body %></td>
        <td><%= link_to 'Show', blog %></td>
        <td><%= link_to 'Change', edit_blog_path(blog) %></td>
        <td><%= link_to 'Delete', blog, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New blog', new_blog_path %>
