<h1>Portfolio Items</h1>
<p id="notice"><%= notice %></p>

<h1>All the Blogs</h1>
<h2>Start Blog here</h2>

<table>
  <thead>
    <tr>
      <th>Portfolio Title</th>
      <th>Portfolio Body</th>
      <th>Portfolio Subtitle</th>
      <th colspan="3"></th>
    </tr>
  </thead>
  <p>make Portfolios</p>


<% @portfolio_items.each do |portfolio_item| %>
  <p><%= portfolio_item.title %></p>
  <p><%= portfolio_item.subtitle %></p>
  <p><%= portfolio_item.body %></p>
  <p> <%= image_tag portfolio_item.thumb_image %></p>
<% end %>